@{
    ViewData["Title"] = "Creating Tasks";
}
<h1>@ViewData["Title"]</h1>
<br />
<p><span style="font-weight: 500;">Step 1:</span>  Select the <b>Create New</b> link</p>
<br />
<img src="/images/howto-createtask.png" style="border: 1px solid #333; width: 75%;" />
<br />
<br />
<p><span style="font-weight: 500;">Step 2:</span>  Enter a <b>Description</b> and provide a <b>Created Date</b> from the date picker</p>
<br />
<img src="/images/howto-addtaskinfo.png" style="border: 1px solid #333; width: 75%" />

